body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

.logo img{
   max-height: 50px;
   margin-left: -20px;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f83a4;
    padding: 18px 8%;
    font-family: sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
    
}

header .header-left, .header-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

header a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 190px;
    font-size: 22px;
}

.banner{
  padding: 2%, 0, 2%, 0;
  width: auto;
  height: 204px;
  margin: 0;

}

aside{
  background-color: #6F83A4;
    width: 300px;
    height: calc(100vh - 200px - 68px);
}

aside h1 {
    margin: 0;
    width: fit-content;
}

.pratos{
    padding-top: 40px;
    padding-left:45px;
}

.restaurantes{
    padding-top: 150px;
    padding-left: 45px;
}

.submit {
    padding-left: 23%; 
    margin-top:15px;
    
}

.submit button{
   border-radius: 10px;
   border:none;
   width: 150px;
   height: 20px;
   cursor: pointer;
   
}

.submit button:hover{
  background-color: rgb(19, 19, 19);
  color: white;
  transition: 1500ms;

}

.container{

  width: 100%;
  max-width: 700px;
  min-height: 200px;
  padding: 5%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
margin-left: 587px;
margin-top:-230px;
position: absolute;
width: 100%;
max-width: 653px;
background: rgba(190, 190, 190, 0.2);
display: flex;
align-items: center;
border-radius: 60px;
padding: 10px 20px;
backdrop-filter: blur(4px) saturate(180%);
height: 50px;
}

.search-bar input{
  background:transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000000;
}

::placeholder{
  color: #000000;
}

.search-bar button img{
 width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background:#58629b;
  height: 50px;
  width: 50px;
}


.titulo_restaurante h1{
  max-width: 500px;
  margin-left:400px;
  margin-top:-625px;
}

.box_pratos{
 height: 523px;
 margin-left:400px;
 max-width: 1435px;
 display: inline-block;

}

.box1_2 {
  display: flex;
  gap:70px;
}

.box3_4{
  display: flex;
  gap:70px;
  margin-top: 60px;
}

.box1{
  width: 702.5px;
  height: 220px;
  background-color: #6F83A4;
  border-radius: 20px;
}

.box2{
  width: 702.5px;
  height: 220px;
  background-color: #6F83A4;
  border-radius: 20px;
}

.box3{
  width: 702.5px;
  height: 220px;
  background-color: #6F83A4;
  border-radius: 20px;
}

.box4{
  width: 702.5px;
  height: 220px;
  background-color: #6F83A4;
  border-radius: 20px;
}

.img_box1{
 border-radius: 12px;
}

.box1 h2 {
  position: absolute;
  margin-top: -200px;
  width: 390px;
  margin-left:295px;
  text-decoration: underline;
}

.box1 h3{
  position: absolute;
  margin-top: -170px;
  width: 390px;
  margin-left:295px;

}

.box1 .h3_nomeprato{
  font-size: 23px;
}

.box1 .h2_nomerest{
   font-size: 29px;
}


.img_localizacao {
    margin-bottom: 90px;
}

.box2 h2{
  position: absolute;
  margin-top: -200px;
  width: 390px;
  margin-left:295px;
  text-decoration: underline;
}

.box2 h3{
  position: absolute;
  margin-top: -170px;
  width: 390px;
  margin-left:295px;
}

.box2 .h2_nomerest1{
  font-size: 29px;
}

.box2 .h3_nomeprato1{
  font-size: 23px;
}

.box3 .h2_nomerest2{
  font-size: 29px;
}

.box3 .h3_nomeprato2{
  font-size: 23px;
}

.box4 .h2_nomerest2{
  font-size: 29px;
}

.box4 .h3_nomeprato3{
  font-size: 23px;
}

.box3 h2{
  position: absolute;
  margin-top: -200px;
  width: 390px;
  margin-left:295px;
  text-decoration: underline;
}

.box3 h3{
  position: absolute;
  margin-top: -170px;
  width: 390px;
  margin-left:295px;
}


.box4 h2{
  position: absolute;
  margin-top: -200px;
  width: 390px;
  margin-left:295px;
  text-decoration: underline;
}

.box4 h3{
  position: absolute;
  margin-top: -170px;
  width: 390px;
  margin-left:295px;
}


.box1 .h3_endereco1{
 margin-top:-118px;
 margin-left:316px;
 font-size: 18px;
}

.box2 .h3_endereco2{
  margin-top:-118px;
 margin-left:316px;
 font-size: 18px;
}

.box3 .h3_endereco3{
  margin-top:-118px;
  margin-left:316px;
  font-size: 18px;
}

.box4 .h3_endereco4{
  margin-top:-118px;
  margin-left:316px;
  font-size: 18px;
}

